<div class="row text-center font-weight-bold col-12">
    <mdb-carousel [animation]="'slide'" class="col-12 slider">
        <mdb-carousel-item class="col-12 page">
            <div class="item">
                <div>CF-1</div>
                <img src="assets/imagens/CF-1.png" (click)="servico.getLinhaGroupByPosto('CF-1')" class="produto">
            </div>
            <div class="item">
                <div>CF-3</div>
                <img src="assets/imagens/CF-3.png" (click)="servico.getLinhaGroupByPosto('CF-3')" class="produto">
            </div>
            <div class="item">
                <div>OW</div>
                <img src="assets/imagens/OW.png" (click)="servico.getLinhaGroupByPosto('OW')" class="produto">
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item class="col-12 page">
                <div class="item">
                <div>Porta Legacy</div>
                <img src="assets/imagens/ELP.png" (click)="servico.getLinhaGroupByPosto('Portas Legacy')"
                    class="produto">
            </div>
            <div class="item">
                <div>Porta Pax Dian.</div>
                <img src="assets/imagens/Porta Pax Dian.png" (click)="servico.getLinhaGroupByPosto('Porta Pax Dian.')"
                    class="produto">
            </div>
            <div class="item">
                <div>Porta Pax Tras.</div>
                <img src="assets/imagens/Porta Pax Tras.png" (click)="servico.getLinhaGroupByPosto('Porta Pax Tras.')"
                    class="produto">
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item class="col-12 page">
                <div class="item">
                <div>Porta Serv. Dian.</div>
                <img src="assets/imagens/Porta Serv Dian.png"
                    (click)="servico.getLinhaGroupByPosto('Porta Serv. Dian.')" class="produto">
            </div>
            <div class="item">
                <div>Porta Serv. Tras.</div>
                <img src="assets/imagens/Porta Serv Tras.png" (click)="servico.getLinhaGroupByPosto('Porta Serv.Tras.')"
                    class="produto">
            </div>
            <div class="item">
                <div>Porta Bag. Dian. E1</div>
                <img src="assets/imagens/Porta Bag Dian E1 e E2.png"
                    (click)="servico.getLinhaGroupByPosto('Porta Bagag. Diant.E1')" class="produto">
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item class="col-12 page">
                <div class="item">
                <div>Porta Bag. Tras. E1</div>
                <img src="assets/imagens/Porta Bag Tras E1 e E2.png"
                    (click)="servico.getLinhaGroupByPosto('Porta Bagag. Tras.E1')" class="produto">
            </div>
            <div class="item">
                <div>Porta Bag. Dian. E2</div>
                <img src="assets/imagens/Porta Bag Dian E1 e E2.png"
                    (click)="servico.getLinhaGroupByPosto('Porta Bagag. Diant.E2')" class="produto">
            </div>
            <div class="item">
                <div>Porta Bag. Tras. E2</div>
                <img src="assets/imagens/Porta Bag Tras E1 e E2.png"
                    (click)="servico.getLinhaGroupByPosto('Porta Bagag. Tras.E2')" class="produto">
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</div>